.profile-container {
  width: 800px;
  margin: 1px auto;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(106, 101, 101, 0.19),
    0 6px 20px rgba(106, 101, 101, 0.19);
  color: #1e2e2e;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}


.profile-card {
  border-radius: 10px;
  width: 90%;
  max-width: 800px;
  padding: 30px;
}

.profile-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 25px;
  color: white;
}

/* Header Section */
.profile-header {
  display: flex;
  align-items: center;
  gap: 25px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.profile-image-container {
  position: relative;
}

.profile-image {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #e5e5e5;
}

.file-input {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 110px;
  opacity: 0.8;
  cursor: pointer;
}

/* Info beside image */
.profile-main-info h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}


.change-password-btn {
  background-color: #1e2e2e;
  border: 1px solid #ccc;
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.2s;
  color: white;
}

.change-password-btn:hover {
  background-color: white;
  color: #1e1e2e;
}

/* Form Layout */

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
  margin-bottom: 6px;
}

.form-group input,
.form-group select {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px;
  font-size: 0.95rem;
  color: #1e2e2e;
  background-color: #fafafa;
  outline: none;
  transition: border 0.2s;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #007bff;
}



.save-btn {
  background-color: #2b6cb0;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.cancel-btn {
  background-color: #e53e3e;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.edit-btn {
  justify-content: flex-end;
  width:105px;

  
}

.edit-btn button {
  background-color: white;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.edit-btn button:hover {
  background-color: white;
    color: #1e1e2e;

}

.error-text {
  color: #e53e3e;
  font-size: 0.8rem;
  margin-top: 3px;
}

.loading-text {
  text-align: center;
  color: #666;
  margin-top: 20px;
}

